/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500);
@import url(https://fonts.googleapis.com/css?family=Raleway:800);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, main, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

img {
  display: block;
  border: 0;
  height: auto; }

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
@font-face {
  font-family: "bitsandflashes";
  src: url("../fonts/bitsandflashes.eot");
  src: url("../fonts/bitsandflashes.eot?#iefix") format("embedded-opentype"), url("../fonts/bitsandflashes.woff") format("woff"), url("../fonts/bitsandflashes.ttf") format("truetype"), url("../fonts/bitsandflashes.svg#bitsandflashes") format("svg");
  font-weight: normal;
  font-style: normal; }
body,
button,
input,
select,
textarea {
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5; }

body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 800; }

p {
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1.5em; }

b,
strong {
  font-weight: bold; }

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

body {
  background-color: #000; }

section {
  width: 100%; }

.wrap {
  margin: 0 auto;
  max-width: 1024px; }

/*--------------------------------------------------------------
Menu
--------------------------------------------------------------*/
.logo {
  display: inline-block; }

nav#seccion_principal {
  width: 100%;
  position: fixed;
  background-color: #FDFDFD;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 7px solid #222;
  z-index: 1000; }

nav#seccion_principal .wrap {
  position: relative; }

#menu_principal {
  overflow: hidden; }
  @media (max-width: 680px) {
    #menu_principal {
      position: absolute;
      top: 58px;
      right: 0px;
      left: 0px;
      height: 0px;
      -webkit-transition: height 1s ease-in-out;
      -moz-transition: height 1s ease-in-out;
      -o-transition: height 1s ease-in-out;
      transition: height 1s ease-in-out; } }
  @media (min-width: 680px) {
    #menu_principal {
      float: right; } }
  #menu_principal li {
    list-style: none;
    width: 100%;
    display: block;
    background-color: #fff; }
    @media (min-width: 680px) {
      #menu_principal li {
        width: auto;
        display: inline-block; } }
    @media (max-width: 680px) {
      #menu_principal li:hover {
        background-color: #f6f6f6; } }
    #menu_principal li a {
      text-decoration: none;
      padding: 15px;
      font-weight: 500;
      color: #EB6021;
      display: block; }

#menu_principal.openMenu {
  height: 240px;
  -webkit-transition: height 1s ease-in-out;
  -moz-transition: height 1s ease-in-out;
  -o-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out; }

.responsive-menu-icon {
  cursor: pointer;
  text-align: center;
  float: right;
  display: inline-block; }
  .responsive-menu-icon::before {
    color: #EB6021;
    content: "a";
    display: inline-block;
    font-family: 'bitsandflashes';
    font-size: 25px;
    margin: 0 auto;
    padding: 10px; }

#bitsandflashes {
  width: 100%;
  height: 100vh;
  background-image: url(../img/background.jpg);
  display: table; }
  #bitsandflashes div {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  #bitsandflashes h2 {
    color: white;
    font-size: 2.7rem;
    margin-bottom: 10px; }
    @media (min-width: 500px) {
      #bitsandflashes h2 {
        font-size: 4rem; } }
  #bitsandflashes a {
    display: block;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    color: white;
    border: 1px solid #FFF;
    border-radius: 10px;
    display: inline-block;
    text-align: center; }
    #bitsandflashes a:hover {
      background-color: #F6F6F6;
      color: #222; }

#nosotros {
  background-image: url(../img/nosotros.jpg);
  color: white;
  padding: 60px 0px; }
  #nosotros .wrap {
    max-width: 700px; }
  #nosotros article {
    background-color: rgba(255, 96, 33, 0.8);
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 10px; }
  #nosotros h3 {
    padding-bottom: 10px; }

#proyectos {
  background-color: #FAF9F8;
  height: 490px;
  color: white;
  padding: 60px 0; }
  #proyectos ul {
    margin: 0 auto;
    max-width: 860px;
    max-height: 400px; }
    #proyectos ul li {
      display: inline-block;
      list-style: none; }

.wrap-items-m, .wrap-items-p, .wrap-items-t {
  text-align: center; }
  .wrap-items-m .arrow, .wrap-items-p .arrow, .wrap-items-t .arrow {
    font-family: 'bitsandflashes';
    font-size: 6rem;
    color: #EB6021;
    cursor: pointer; }

.wrap-items-m .item {
  display: block;
  margin: 0 auto; }

.wrap-items-p div, .wrap-items-t div {
  display: inline-block;
  vertical-align: top; }
.wrap-items-p .item-arrow-v, .wrap-items-t .item-arrow-v {
  height: 475px;
  padding-top: 160px; }

/*
 * N3: Imagenes Hover
 *********************************************/
.item {
  text-align: center;
  margin: 5px;
  position: relative; }

.item,
.item-hover,
.item-hover .mask,
.item-img,
.item-info {
  width: 200px;
  height: 150px; }

.item-hover,
.item-hover .mask,
.item-img {
  position: absolute;
  top: 0;
  left: 0; }

.item-hover {
  z-index: 1;
  -webkit-transition: all 900ms ease-out;
  -moz-transition: all 900ms ease-out;
  -o-transition: all 900ms ease-out;
  transition: all 900ms ease-out;
  opacity: 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-align: center; }

.item-info {
  z-index: 2;
  display: table;
  position: relative; }

.item-info .headline {
  font-size: 15px;
  font-weight: 500;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
  color: white; }

.item-hover .mask {
  background-color: #111;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50); }

.item-hover:hover {
  opacity: 1; }

.item-img {
  background-color: #DDD; }

#skills {
  height: 400px;
  color: white;
  padding: 80px 0;
  background: url(../img/orange.png); }
  #skills ul {
    margin: 0 auto;
    max-width: 870px; }
    #skills ul li {
      display: inline-block;
      list-style: none; }
    #skills ul img {
      margin: 15px 10px;
      width: 150px;
      height: 150px; }

#contacta {
  background-color: #EB6021;
  color: white; }
  #contacta .wrap {
    position: relative; }
  #contacta #form {
    margin-left: 40px;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 45%; }
  #contacta h3 {
    font-size: 1.6rem;
    margin-bottom: 5px; }
  #contacta label span {
    display: block;
    padding: 5px 0px 5px 5px; }
  #contacta input, #contacta textarea {
    width: 350px;
    border-radius: 3px;
    padding: 5px; }
  #contacta .social {
    position: absolute;
    right: 0px;
    bottom: 0px; }
    #contacta .social li {
      display: inline-block;
      list-style: none;
      width: 35px; }
    #contacta .social img {
      width: 100%; }

#copyright {
  background-color: #222;
  height: 50px;
  color: white; }
  #copyright p {
    text-align: center;
    font-size: 0.7rem;
    margin: 0 auto;
    padding: 15px 0px; }

/*# sourceMappingURL=styles.css.map */
