#skills{
    height: 400px;
    color: white;
    padding: 80px 0;
    background: url(../img/orange.png);
    
    ul{
        margin: 0 auto;
        max-width: 870px;

        li{
            display: inline-block;
            list-style: none;
        }

        img{
           margin:15px 10px;
            width:150px;
            height: 150px;
        }

    }

}